@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    font-family: "Source Code Pro", monospace;
    font-size: 18px;  
    background: #fffcf2;
    color: #007ea7;
    transition: .2s;
}

body.dark {
    background: #007ea7;
    color: #fffcf2;
}
header,
section,
footer {
    margin: 15px;
}

.topStats,
.controls,
.days {
    display: flex;
    gap: 10px;
}

.days {
    flex-wrap: wrap;
    gap: 4px;
}

.card,
#habitContainer,
#achievementList {
    border: 1px solid #ccc;
    padding: 10px;
}

.card {
    flex: 1;
    text-align: center;
}

input {
    flex: 1;
}

.day input {
    margin: 0;
}

button {
    cursor: pointer;
}

footer {
    text-align: center;
}